 body {
     margin: 0;
 }
 
 @media(max-width: 1400px) {
     .forms {
         grid-template-columns: 77% 23%;
         form {
             input {
                 width: 144px;
                 height: 40px;
             }
         }
     }
     .buttons {
         justify-self: start;
         button {
             font-size: 12px;
             width: 110px;
             margin-left: 8px;
             align-self: stretch;
         }
     }
 }
 
 @media(max-width: 1300px) {
     .forms {
         grid-template-columns: 77% 23%;
         form {
             input {
                 width: 144px;
                 height: 40px;
             }
         }
     }
     .buttons {
         justify-self: start;
         button {
             font-size: 9px;
             width: 110px;
             margin-left: 8px;
             align-self: stretch;
         }
     }
 }
 
 @media (max-width: 1200px) {
     .forms {
         grid-template-columns: 77% 23%;
         form {
             input {
                 width: 110px;
                 height: 40px;
             }
         }
     }
     .buttons {
         justify-self: start;
         button {
             font-size: 12px;
             width: 92px;
             margin-left: 8px;
             align-self: stretch;
         }
     }
 }
 
 @media (max-width: 1000px) {
     .forms {
         grid-template-columns: 77% 23%;
         form {
             input {
                 width: 110px;
                 height: 40px;
             }
         }
     }
     .buttons {
         justify-self: start;
         button {
             font-size: 9px;
             width: 92px;
             margin-left: 8px;
             align-self: stretch;
         }
     }
 }
 
 @media (max-width: 960px) {
     .forms {
         grid-template-columns: 100%;
         padding-bottom: 50px;
         form {
             input {
                 width: 80px;
                 height: 33px;
                 font-size: 10px;
             }
         }
     }
     .buttons {
         justify-self: center;
         grid-template-columns: 100%;
         button {
             font-size: 9px;
             width: 160px;
             margin-left: 8px;
             height: 20px;
             margin-bottom: 5px;
             align-self: center;
         }
     }
     .container tr {
         font-size: 10px;
     }
     thead th {
         font-size: 12px;
     }
 }
 
 @media (max-width: 880px) {
     .forms {
         grid-template-columns: 100%;
         padding-bottom: 50px;
         form {
             input {
                 width: 80px;
                 height: 33px;
                 font-size: 10px;
             }
         }
     }
     .buttons {
         justify-self: center;
         grid-template-columns: 100%;
         button {
             font-size: 9px;
             width: 160px;
             margin-left: 8px;
             height: 20px;
             margin-bottom: 5px;
             align-self: center;
         }
     }
     .container tr {
         font-size: 10px;
     }
     thead th {
         font-size: 12px;
     }
 }
 
 @media (max-width: 800px) {
     .forms {
         grid-template-columns: 100%;
         padding-bottom: 50px;
         form {
             input {
                 width: 80px;
                 height: 33px;
                 font-size: 10px;
             }
         }
     }
     .buttons {
         justify-self: center;
         grid-template-columns: 100%;
         button {
             font-size: 9px;
             width: 160px;
             margin-left: 8px;
             height: 20px;
             margin-bottom: 5px;
             align-self: center;
         }
     }
     .container tr {
         font-size: 10px;
     }
     thead th {
         font-size: 12px;
     }
 }
 
 @media(max-width: 640px) {
     .forms {
         grid-template-columns: 100%;
         padding-bottom: 50px;
         form {
             input {
                 width: 80px;
                 height: 33px;
                 font-size: 10px;
             }
         }
     }
     .buttons {
         justify-self: center;
         grid-template-columns: 100%;
         button {
             font-size: 9px;
             width: 160px;
             margin-left: 8px;
             height: 20px;
             margin-bottom: 5px;
             align-self: center;
         }
     }
     .container tr {
         font-size: 10px;
     }
     thead th {
         font-size: 12px;
     }
 }
 
 @media(max-width: 530px) {
     .forms {
         grid-template-columns: 100%;
         padding-bottom: 50px;
         form {
             input {
                 width: 55px;
                 height: 28px;
                 font-size: 9px;
             }
         }
     }
     .buttons {
         justify-self: center;
         grid-template-columns: 100%;
         button {
             font-size: 9px;
             width: 160px;
             margin-left: 8px;
             height: 17px;
             margin-bottom: 5px;
             align-self: center;
         }
     }
     .container tr {
         font-size: 8px;
     }
     thead th {
         font-size: 6px;
     }
 }
 
 @media (max-width: 420px) {
     .forms {
         grid-template-columns: 100%;
         padding-bottom: 50px;
         form {
             input {
                 width: 40px;
                 height: 25px;
                 font-size: 5px;
             }
         }
     }
     .buttons {
         justify-self: center;
         grid-template-columns: 100%;
         button {
             font-size: 9px;
             width: 120px;
             margin-left: 8px;
             height: 20px;
             margin-bottom: 5px;
             align-self: center;
         }
         td button {
             background-color: #FB667A;
             font-family: 'Open Sans', sans-serif;
             border-radius: 5px;
             outline: none;
             border: none;
             height: 17px;
             margin-bottom: 2px;
         }
         @media (max-width: 360px) {
             .forms {
                 grid-template-columns: 100%;
                 padding-bottom: 50px;
                 form {
                     input {
                         width: 40px;
                         height: 25px;
                         font-size: 5px;
                     }
                     td {
                         height: 20px;
                     }
                 }
             }
             .buttons {
                 justify-self: center;
                 grid-template-columns: 100%;
                 button {
                     font-size: 9px;
                     width: 120px;
                     margin-left: 8px;
                     height: 20px;
                     margin-bottom: 5px;
                     align-self: center;
                 }
             }
             #users td {
                 font-size: 5px;
             }
             .container tr {
                 font-size: 8px;
             }
             thead th {
                 font-size: 8px;
             }
         }
         #users td {
             font-size: 5px;
         }
         .container tr {
             font-size: 8px;
         }
         thead th {
             font-size: 8px;
         }
     }
     @media (max-width: 320px) {
         .forms {
             grid-template-columns: 100%;
             padding-bottom: 50px;
             form {
                 input {
                     width: 30px;
                     height: 20px;
                     font-size: 5px;
                 }
             }
         }
         .buttons {
             justify-self: center;
             grid-template-columns: 100%;
             button {
                 font-size: 9px;
                 width: 120px;
                 margin-left: 8px;
                 height: 20px;
                 margin-bottom: 5px;
                 align-self: center;
             }
         }
         #users td {
             font-size: 5px;
         }
         .container tr {
             font-size: 8px;
         }
         thead th {
             font-size: 8px;
         }
     }
     td button {
         background-color: #FB667A;
         font-family: 'Open Sans', sans-serif;
         border-radius: 5px;
         outline: none;
         border: none;
         height: 17px;
         margin-bottom: 2px;
     }
 }