* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #4DC3FA;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    color: #A7A1AE;
    background-color: #1F2739
}

.forms {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80% 20%;
    justify-items: center;
    margin-bottom: 10px;
    form {
        justify-items: center;
        align-self: center;
        input {
            width: 170px;
            height: 40px;
            text-align: center;
            margin-left: 5px;
            border-radius: 5px;
            outline: none;
            border: none;
            color: #185875;
        }
    }
}

.container {
    display: grid;
    background-color: white;
    tr {
        display: grid;
        grid-template-columns: 12% 12% 12% 12% 12% 12% 28%;
        justify-items: center;
    }
}

tr:nth-child(odd) {
    background-color: #323C50;
}

tr:nth-child(even) {
    background-color: #2C3446;
}

.buttons {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    button {
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #FB667A;
        color: #1F2739;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        width: 110px;
        margin-left: 8px;
    }
}

.header {
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

thead {
    border: 2px solid #2C3446;
    th {
        color: #FB667A;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        align-self: center;
    }
}

#users {
    font-family: 'Open Sans', sans-serif;
    color: #4DC3FA;
    tr {
        height: 50px;
    }
    td {
        align-self: center;
    }
}

td button {
    background-color: #FB667A;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 32px;
}

footer {
    height: 60px;
}